.greeting {
  display: grid;
  place-items: center;
  gap: 3em;
}

.gradientText {
  background-image: linear-gradient(#b4e7ce, #59a96a);
  background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 3rem;
}
