.chatBubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 1em 2em;
  margin: 1em;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-overflow: clip;
}
